<div class="sidebar">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/logo.png" class="hp-logo-image" />
            </div>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="fst-list menu-user" routerLinkActive="active">
                <a routerLink="/dashboard/policedetails">
                    <span></span>
                    <p>Police List</p>
                </a>
            </li>
            <li class="fst-list menu-appro" routerLinkActive="active">
                <a routerLink="/dashboard/userlicense">
                    <span></span>
                    <p>Booked License User</p>
                </a>
            </li>
            <li class="fst-list menu-appro" routerLinkActive="active">
                <a routerLink="/dashboard/vehicles">
                    <span></span>
                    <p>Booked Vehicles</p>
                </a>
            </li>
            <!-- <li class="dropdown dropdown-slide active-parent active">
                <a href="#" class="dropdown-toggle active-parent active" data-toggle="dropdown">
                    <i class="fa fa-bar-chart-o"></i>
                    <p>Master</p>
                </a>
                <ul class="dropdown-menu dispalyblock">
                    <li class="fst-list menu-cate" routerLinkActive="active">
                        <a routerLink="/category">
                            <span></span>
                            <p>Category</p>
                        </a>
                    </li>
                    <li class="fst-list menu-cate" routerLinkActive="active">
                        <a routerLink="/metalmaster" tabindex="-1">
                            <span></span>
                            <p>Metal Master</p>
                        </a>
                    </li>
                </ul>
            </li> -->
        </ul>
    </div>
</div>